.a {
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
}

.a-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}

.a-card.bg {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #333;
}

.a-card {
    position: relative;
    width: 60%;
    height: 90vh;
    border-radius: 30px;
    overflow: hidden;
}


.a-img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.a-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 50%;
} 

.a-right-top {
    position: relative;
    width: 95%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.a-right-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.i-title {
    height: 80px;
    overflow: hidden;
    padding: 2px;
    font-size: 47px;
    /* width: 30%; */
}

.a-sub {
    width: 75%;
}

.i-title-b {
    /* border: #333 solid 1px; */
    height: auto;
    overflow: hidden;
    margin-top: 10px;
    font-size: 44px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .i-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}
 @keyframes move {
    15%{
        transform: translateY(-25px);
    }
    27%{
        transform: translateY(-50px);
    }
    38%{
        transform: translateY(-75px);
    }
    49%{
        transform: translateY(-100px);
    }
    65%{
        transform: translateY(-125px);
    }
    75%{
        transform: translateY(-150px);
    }
    87%{
        transform: translateY(-175px);
    }
    100%{
        transform: translateY(-200px);
    }
 }
 */
.i-title-item-a {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #007EA7;
    display: flex;
    align-items: center;
}

.a-right-bot {
    position: relative;
    width: 95%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* overflow: hidden; */
}

.a-award {
    width: 20%;
    height: 20%;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    border: .5px solid black;
    transition: 1s ease-in-out;
}

.a-award:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.a-award-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.a-sub {
    text-align: center;
    margin: 20px;
}

@media screen and (max-width: 900px) {
    .a-right-title {
        flex-direction: column;
    }

    .a-right-top {
        width: 100%;
        height: 100%;
    }

    .a-right-bot {
        width: 100%;
        height: 100%;
    }
  }

@media screen and (max-width:750px) {
    .a{
      flex-direction: column;
      text-align: center;
      margin-top: 50px;
    }

    .a-sub{
        width: 100%;
        margin: 0;
    }

    .a-left {
      width: 100%;
    }

    .a-card {
      height: 30vh;
    }

    .a-card.bg, .a-award {
      display: none;
    }

    .a-right{
      width: 100%;
    }
    

    .a-img {
        height: 80%;
    }
}