.p {
    width: 25%;
    height: 30vh;
    margin: 10px 10px;
    border: 2px solid rgb(126, 126, 126);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    background-size: cover;
}

.p-browser {
    height: 20px;
    background-color: rgb(126, 126, 126);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}

.p-circle {
    width: 6px;
    height: 6px;
    margin: 3px;
    border-radius: 50%;
    background-color: white;
}

.p-img  {
    width: 100%;
    transition: all 10s ease;
}

.p-img:hover {
    transform: translateY(-100%);
}

@media screen and (max-width: 750px) {
    .p {
      /* width: 40%; */
      height: 20vh;
    }
  }